/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* === RESET CSS === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* === TITLE === */

h1 {
    text-align: center;
    margin: 35px 0;
}

.logo {
    width: 12.5rem;
}

/* === SEARCH === */
.search-field {
    width: 50vw;
    margin: 0 auto;
    border-radius: 50px;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

#input-search {
    border: none;
    outline: none;
    padding-left: .5rem;
    font-size: 1.25rem;
    width: 100%;
}

.icon-search {
    font-size: 1.25rem;
}

/* === RESULTS === */
.container {
    width: 80vw;
    margin: 3.5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    height: fit-content;
}

.card__title {
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.card__thumbnail {
    width: 100%;
}

.card__body {
    padding: 5px 15px 5px;
}

.card__channel {
    margin: 1rem 0;
    padding: 15px 0 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid rgb(175, 175, 175);
}

.card__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

p.center {
    font-size: 1.25rem;
}

/* === UTILS === */
.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}